{% extends './partials/base_layout.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/indexpage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/post-summary.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/shorten-paragraphs-inside-posts.js') }}"></script>
{% endblock %}

{% block content %}

<div class="logocominfo">
    <div class="textos-logo">
        <p style="position: relative; top: 100px;">Núcleo de Estudos de Matemática Olímpica</p>
    </div>
    <div class="video-container">
        <video autoplay muted>
            <source src="{{ url_for('static', filename='/videos/FishCurve.mp4') }}" type="video/mp4">
            Seu navegador não suporta vídeos!
        </video>
    </div>
</div>

<div class="conteudo">
    <div class="informacoes">
        <div class="o-que-e">
            <div class="flex-with-img row">
                <div class="col">
                    <h1>O que é?</h1>
                    <p>O <strong>NEMO</strong> é um grupo de extensão do ICMC, sediado na USP de São Carlos, cujo foco é
                        realizar
                        <strong>treinamentos para olimpíadas de matemática universitárias</strong>.
                    </p>
                    <p>Realizamos encontros semanais durante os quais listas de problemas de matemática olímpica são
                        discutidos e resolvidos. Acreditamos que, quando todos estão trabalhando nesses problemas,
                        ideias de várias pessoas se combinam para dar origem a uma solução. Por isso, <b>todos são
                            bem-vindos</b> a participar dos nossos encontros.</p>
                </div>
                <div class="img-container col">
                    <div class="image">
                        <img src="{{ url_for('static', filename='imgs/index-imgs/imc_jornalusp_grupo_nemo_matematica_icmc_usp.webp') }}"
                            alt="">
                    </div>
                    <div class="paragraph">
                        <p>Alguns dos nossos membros que foram premiados na International Mathematics Competition (IMC)
                            2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="competicoes">
            <div class="flex-with-img row">
                <div class="img-container col">
                    <div class="image">
                        <img src="{{ url_for('static', filename='imgs/index-imgs/obm-2017-medalhas.jpg')}}" alt="">
                    </div>
                    <div class="paragraph">
                        <p>Medalhas de bronze, prata e ouro da Olimpíada Brasileira de Matemática (OBM)</p>
                    </div>
                </div>
                <div class="col">
                    <h1>O que são olimpíadas de matemática?</h1>
                    <p>Olimpíadas de matemática são competições de matemática que desafiam os competidores a resolverem
                        problemas mais difíceis que aqueles tipicamente utilizados em provas normais, isto é, aquelas
                        que testam conhecimentos específicos.</p>
                    <p>Diferentemente dessas provas, os problemas das olimpíadas envolvem o <strong> uso de argumentos
                            matemáticos de maneira criativa e esperta, o que faz com que sejam muito
                            divertidos</strong>.</p>
                    <a role="button" class="btn btn-primary" style="width:100%;" href="/about#como-sao-problemas">Saiba
                        mais</a>
                </div>

            </div>

        </div>
    </div>

    <div class="noticias">
        <h1>Notícias</h1>
        <div class="post-container row">
            {% set chosen_tag = 'noticia' %}
            {% set the_limit = 3 %}
            {% include './partials/multiple_cards.html' %}
        </div>
    </div>

    <div class="ultimo-problema-mes">
        <h1>Problema do mês atual</h1>
        <div class="post-container row">
            {% set chosen_tag = 'problema-mes' %}
            {% set the_limit = 3 %}
            {% include './partials/multiple_cards.html' %}
        </div>
    </div>
</div>
</article>

{% endblock %}
